@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600&family=Noto+Serif+JP:wght@400;600&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Serif+JP&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Roboto:wght@500&family=Zen+Maru+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');


*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  font-family: "Shippori Mincho", serif;
  font-family: "Cormorant Garamond", serif;
}

body {
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  width: 100%;
}


p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

ol,
ul,
li {
  list-style: none;
  padding: 0;
}

table {
  border-collapse: collapse;
}

textarea {
  white-space: revert;
}

a {
  text-decoration: none;
  display: block;
  color: inherit;
}


// ヘッダー

header {
  display: none;
  position: fixed;
  z-index: 999;
  background-color: #fbfafa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px 6% 12px 7.5%;
  color: #0022e0;

  .logo {
    h1 {
      font-size: clamp(10px, 3vw, 100px);
      letter-spacing: 0.6vw;
      line-height: 1;
      font-weight: 400;

      &:hover {
        opacity: 0.6;
      }
    }

    &__subtitle {
      font-size: clamp(3px, 0.5vw, 20px);
      letter-spacing: 1em;
      text-align: center;
      margin-right: 42px;
    }
  }

  .nav {
    &__title {
      display: none;
    }

    &__list {
      display: flex;
      column-gap: 1.2vw;
      font-size: clamp(10px, 1.17vw, 50px);
      align-items: center;
      font-weight: bold;
      text-align: center;

      a {
        line-height: 1.3;
        letter-spacing: 1px;

        &:hover {
          opacity: 0.6;
        }
      }
    }

    &__sns {
      display: none;
    }
  }
}

// メイン

main {
  // background-image: url('image.jpg');
  // background-size: cover;     /* 要素を埋めるように拡大・トリミング */
  // background-position: center;
  // background-repeat: no-repeat;

}

// ファーストビュー

.fv {
  width: 100%;
  height: 90vh;
  background-image: url('../images/main_vsl01.jpg');
  background-size: cover;
  /* 要素を埋めるように拡大・トリミング */
  background-position: center;
  background-repeat: no-repeat;
  position: relative;

  .fv__heading {
    position: absolute;
    top: 38%;
    left: 55%;
    transform: translate(-50%, -50%);

    h2 {
      font-size: clamp(20px, 7vw, 300px);
      letter-spacing: 0.2em;
      line-height: 1.2em;
      color: #fff;
      text-shadow: 1px 1px 30px rgb(0, 217, 255);
      font-weight: 400;
    }

    p {
      font-size: clamp(10px, 1vw, 70px);
      letter-spacing: 10px;
      margin-right: 22%;
      text-align: center;
      color: #fff;
      font-weight: bold;
    }
  }

  .release {
    position: absolute;
    left: 30px;
    bottom: -10px;

    .release__guidance {

      p {
        font-size: clamp(20px, 2.5vw, 100px);
        letter-spacing: 2px;
        color: #fff;
        text-shadow: 1px 1px 2px rgb(0, 217, 255);
        font-weight: 400;
        text-align: center;
      }

      .release__date {
        p {
          font-size: clamp(10px, 7vw, 150px);
          color: #fff;
          letter-spacing: -2px;
          line-height: 0.8;
        }

      }

      .release__sns {
        margin: 25px 0 0 10px;

        ul {
          display: flex;
          column-gap: 5.5%;

          li {
            width: 12%;

            &:hover {
              opacity: 0.6;
            }
          }
        }
      }
    }
  }

  .fv__list {
    position: absolute;
    right: 0;
    bottom: -10px;

    ul {
      display: flex;
      column-gap: 18px;
      padding-right: 50px;

      li {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 11vw;
        height: 11vw;
        background-color: #fffb2c;
        border-radius: 50%;

        &:hover {
          opacity: 0.6;
        }

        p {
          font-family: "Noto Sans JP", sans-serif;
          font-weight: bold;
        }


      }

      .list1 {
        line-height: 1.2;
        color: #3150ff;

        .list1__p1 {
          font-size: clamp(10px, 1.4vw, 150px);
          line-height: 30px;
          line-height: 1.2;
        }

        .list1__p2 {
          font-size: clamp(10px, 1.5vw, 150px);
          letter-spacing: 1px;
        }

        .list1__p3 {
          font-size: clamp(10px, 1.8vw, 150px);
          letter-spacing: 2px;
        }

        .list1__p4 {
          font-size: clamp(10px, 1.6vw, 150px);
          letter-spacing: 2px;
        }
      }

      .list2 {
        overflow: hidden;
        display: block;
        color: #3150ff;

        .list2__top {
          width: 100%;
          height: 7vh;
          background-color: rgb(68, 47, 255);
          color: #fff;
          line-height: 1.2;
          padding: 5px 0;

          p {
            font-size: clamp(10px, 1vw, 150px);
            ;
          }
        }

        .list2__bottom {
          margin-top: 7px;
          font-size: 20px;
          line-height: 1.3;

          p {
            font-size: clamp(10px, 1.5vw, 150px);
            line-height: 1.2;
          }

          .bottom_p3 {
            font-size: clamp(10px, 1.4vw, 150px);
          }
        }
      }

      .list3 {
        color: #3150ff;

        .list3__p1 {
          font-size: clamp(10px, 1.4vw, 150px);
          letter-spacing: 1px;
          line-height: 1.8;
        }

        .list3__p2 {
          font-size: clamp(10px, 1.4vw, 150px);
          letter-spacing: 3px;
        }

        .list3__p3 {
          font-size: clamp(10px, 1.4vw, 150px);
          letter-spacing: 3px;
          margin-bottom: 7px;
        }
      }
    }
  }

  .fv__comment {
    position: absolute;
    top: 0;
    right: 6px;
    height: 100%;
    overflow: hidden;

    p {
      font-size: 31px;
      color: #ffffff;
      writing-mode: vertical-rl;
      white-space: nowrap;
      margin-top: 16vh;
    }
  }
}


// ニュース

.news {
  width: 85%;
  margin: 17px auto 0;

  .news__wrap {
    display: flex;
    justify-content: space-between;

    .news__comment {
      width: 500px;

      ul {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        li {
          white-space: nowrap;
          font-family: "Crimson Text", serif;

          a {
            
            .news__day {
              // letter-spacing: 1px;
              margin-left: 20px;
              position: relative;
              &::before {
                position: absolute;
                content: "";
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                width: 10px;
                height: 10px;
                top: 5px;
                left: -15px;
                background-image: url('../images/imgi_157_feed_news_icon.png');
              }
            }

            .news__comment1 {
              margin-left: 57px;
              position: relative;
              &::before {
                position: absolute;
                content: "";
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                width: 22px;
                height: 12px;
                top: 5px;
                left: -22px;
                background-image: url(../images/imgi_158_feed_news_icon_new.png);
              }

            }

            .news__comment2 {
              margin-left: 100px;
            }
          }
        }
      }
    }
  }

  .news__sns {
    display: flex;
    align-items: flex-end;
  }
}